/* General CSS */

*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: black;
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    line-height: 1.8em;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: 'Poiret One', cursive;
}

h2 {
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}

h3 {
  font-size: 25px;
  color: white;
}

.body-wrapper {
    display: grid;
    grid-template-columns: auto;
}

.section-header {
  color: white;
}

.header {
  position: relative;
  padding: 20px 0;
  margin: auto;
  top: 40%;
  width: 50vw;
  background-color: grey; /* Fallback */
  background-color: rgba(128, 128, 128, .5);
  text-align: center;
}

/* Parallax containers */

  .parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
  }
  .parallax__container .parallax {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

/* webkit clip fix */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .parallax__container {
    clip: auto;
    -webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  }
}


/* section sizes */

.container__hero {
  height: 100vh;
}

.container__big {
	height: 100vh;
}

.container__small {
	height: 40vh;
}

/* END section sizes */


.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name-container {
  line-height: 5em;
}

.name-container > h1{
  border-bottom: solid white 1px;
  font-weight: bold;
  color: rgb(1, 180, 235);
}

.hero-right {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.position-container {
  text-align: right;
}

.contact-info-container {
  grid-row: 1 / 2;
  text-align: right;
}

.contact-info > ul > li{
  color: rgb(1, 180, 235);
  padding-top: 15px;
}

.contact-info > ul > li > a{
  color: white;
  text-decoration: none;
  padding: 0;
}

.contact-info > ul > li > a:hover{
  color: orange;
  text-decoration: none;
  padding: 0;
}

.about-container {
  grid-row: 4 / 5;
  color: white;
  padding: 0 25px;
}

.main-section {
  padding: 15vh 0;
}

#section-websites-main {
  background-color: rgb(1, 35, 73);
}

#section-logos-main {
  background-color: rgb(116, 75, 0);
}

#section-skills-main {
  background-color:rgb(49, 34, 0);
  color: white;
  text-align: center;
}

#footer-contacts {
  position: absolute;
  text-align: center;;
  bottom: 0px;
  width: 100%;
}

#footer-contacts > ul > li{
  padding: 0 10px;
  display: inline-block;
}


/* Section for the gallery slideshow*/

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img {
  height: 50vh;
  border-radius: 5px;
}
.mySlides > a > img {
  height: 50vh;
  border-radius: 5px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgb(255, 238, 0);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.website-thumbnails{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.website-column, .logo-column{
  padding: 0 5px;
}

.website-column > img, .logo-column > img {
  max-height: 15vh;
  max-width: 15vh;
  border-radius: 5px;

}


/* Media Queries */ 

@media (max-width: 599px) {

  h1 {
    font-size: 25px;
  }
  
  .container__small {
    height: 25vh;
  }

  .hero-wrapper {
    grid-template-columns: auto;
    grid-template-rows: 1fr 4fr;
  }

  .hero-left {
    background-color: black;
  }

  .contact-info-container {
    box-sizing: border-box;
    background-color: black;
    text-align: left;
    grid-row: 1/2;
    padding: 10px;
  }

  .about-container {
    box-sizing: border-box;
    padding: 15vh 2vw;
    grid-row: 2/5;
  }

  .position-container {
    text-align: left;
  }

  .header {
    top: 7vh;
  }

  .mySlides > img, .mySlides > a > img  {
    height: 25vh;
    border-radius: 5px;
  }

  .website-thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .logo-thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .website-column > img, .logo-column > img {
    max-width: 25vw;
    border-radius: 5px;
  }

  #section-skills-main {
    padding: 5vh 0;
  }

  #footer-contacts {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

}


@media (min-width: 600px) and (max-width: 899px) {

  .name-container > h1 {
    font-size: 30px;
  }

  .position-container{
    text-align: left;
  }

  .contact-info-container {
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
  }

  .header > h1{
    font-size: 30px;
    padding: 15px 0;
  }

  .main-section {
    padding: 8vh 0;
  }

  .mySlides > img, .mySlides > a > img  {
    height: 25vh;
    border-radius: 5px;
  }

  .website-thumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .logo-thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .website-column > img, .logo-column > img {
    max-width: 25vw;
    border-radius: 5px;
  }


}


@media (min-width: 900px) and (max-width: 1199px) {
  .header > h1{
    font-size: 40px;
    padding: 15px 0;
  }
  

}


@media (min-width: 1200px){

  

}